.rest-display {
  margin-top: 30px;
}
.rest-display h2 {
  font-weight: 700;
  text-align: center;
}

.restaurant-card {
  margin-bottom: 20px;
}

.card-img-top {
  /* width: 270px; */
  height: 275px;
  object-fit: cover;
  border-radius: 10px;
}

.restaurant-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.restaurant-rating {
  font-size: 1rem;
  color: #f39c12;
}


@media (max-width:600px) {
  .rest-display h2 {
    font-size: 1.5rem;
  }
  
}