.rest-display {
  margin-top: 30px;
}
.rest-display h2 {
  font-weight: 600;
}

.restaurant-card {
  margin-bottom: 20px;
}

.card-img-top {
  /* width: 270px; */
  height: 275px;
  object-fit: cover;
  border-radius: 10px;
}

.restaurant-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.restaurant-rating {
  font-size: 1rem;
  color: #f39c12;
}
