.cart-container{
    display: flex;
    justify-content: space-between;
    gap: 45px;
}
.cart-container-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.product-container{
    box-shadow: 0px 4px 30px 0px #00000026;
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 20px;
    width: 810px;
    height: 397px;
}
.cart-container-left-box{
    display: flex;
    justify-content: space-between;
}
.left-box-container p {
    font-size: 24px;
    font-weight: 600;
    line-height: 19.75px;
    text-align: left;
    width: 56%;
    
}
.right-box-container{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.right-box-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}


.btn-containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 20px;
    width: 80%;

}

.buttons {
    width: 150px;
    padding: 5px;   
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid gainsboro;
}

.buttons button {
    outline: none;
    padding: 5px 15px;
    border: none;
    font-weight: bold;
    font-size: small;
}

.button-price {
    background-color: #13B251;
    color: white;
}


/* cart-container-right */



.cart-container-right{
    width: 458px;
    box-shadow: 1px 1px 2px 1px gray;
    background-color: beige;
}

.cart-container-right-first{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 1.5rem;
    background-color: #13B251;
    color: white;
    padding: 10px;
}
.cart-container-right-second{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.cart-container-right-second-one{
    background-color: orange;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.2rem;
    padding-top: 10px;
}
.cart-container-right-second{
    border-bottom: 1px solid gray;
    padding: 15px;
}
.cart-container-right-second-two p{
    margin: 0px;
}
.second-two-price{
    color: #13B251;
    font-weight: bold;
}
.second-two-name{
    font-size: small;
    font-weight: bold;
}
.second-two-dishes{
    color: gray;
    font-size: small;
}
.cart-container-right-second-third{
    font-size: 2rem;
    color: red;
}


/* subtotalsection */
.cart-price-details{
    padding: 15px 20px;
    border-bottom: 1px solid gray;
}
.sub-total{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sub-total-lable{
    font-weight: bold;
}


/* total to pay container */

.total-to-pay-container{
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid gray;
}
.total-pay-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
    border-radius: 10px;
    color: white;
    padding: 5px 15px;
}
.total-pay-lable{
    font-weight: bold;
    margin-bottom: -4px;
}
.total-pay-amount{
    font-size: 1.5rem;
    margin-bottom: -4px;
}

.choose-your-free-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    border: 1px solid gray;
    padding: 5px 10px;
}



/* make payment */

.make-payment{  
    display: flex;
    justify-content:start;
    gap: 20px;
    align-items: center;
    font-size: 1.5rem;
    margin: 20px 20px;
    border-radius: 10px;
    background-color: #13B251;
    padding: 8px 15px;
    color: white;
    cursor: pointer;
}