.main-navigation-container {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.first-nav-items{
  display: flex;
  align-items: center;
}

.nav-logo img{
  max-width: 220px;
}
.nav-address{
  display: flex;
  align-items: center;
  justify-content: center;
}
.second-nav-items{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 15px;


}
.register{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 20px;
  margin-left: 60px;
  color: #35497E;
cursor: pointer;
}

.nav-search-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  padding: 5px;
  background-color: white;
  box-shadow: 0px 0px 14.22px 0px #00000026;

}
.search-box{
  width: 50%;
  display: flex;
  gap: 20px;
  align-items: center;
}
.search-box input{
  width: 100%;
  border: none;
  outline: none;
}
.bag{
  width: 30%;
  text-align: end;
  border-left: 1px solid gainsboro;
  cursor: pointer;
}