.navbar{
  position: relative;
}
.navbar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px ;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.nav-logo-mobile {
  width: 25px;
  margin-right: 10px;
}
.nav-logo-desktop {
  width: 200px;
}

.nav-location {
  display: flex;
  align-items: center;
  gap: 5px;

}

.location-name {
  font-weight: 600;
  color: black;
  text-decoration: underline;
}

.location-address {
  color: gray;
  font-size: 0.875rem;
  margin-top: 5px;
}

/* Center navigation links */
.navbar-center {
  display: flex;
  align-items: center;

}

.nav-link {
  margin-right: 20px;
  color: #35497E;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

.nav-link:hover {
  color: #1F2B50;
}

.nav-register {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.register-icon {
  font-size: 1.5rem;
  color: #35497E;
  margin-right: 5px;
}

/* Right icons and menu */
.navbar-right {
  display: flex;
  align-items: center;
}

.nav-icon {
  font-size: 1.5rem;
  margin-right: 20px;
  cursor: pointer;
}

.nav-menu {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}
.mobile-menu {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 999;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Responsive styling */
@media (max-width: 800px) {
  .nav-menu {
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
  }
   .navbar-center{
      display: none;
  }
  .mobile-menu {
    display: block;
  }
}


@media (max-width: 400px) {
  .location-name{
    font-size: small;
  }
  .location-address{
    font-size: smaller;
  }
  .nav-logo-mobile{
    margin-right: 4px;
  }
}

