.restaurant-container{
    padding-left: 10px;
}
.restaurant-heading{
    font-size: 24px;
    font-weight: 500;
    line-height: 29.26px;
    text-align: left;
    
}
.restaurant-heading span{
    color:#13B251;
    font-weight: 600;
    font-size: 24px;    

}
.heading-container{
    width: 50%;
}
.heading-container h2{
    font-size: 32px;
    font-weight: 600;
    line-height: 39.01px;
    text-align: left;
    
}
.heading-container p{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: #575757;
}

@media (max-width: 1080px){
    .heading-container{
        width: 80%;
    }
    .heading-container h2{
        margin-top: -10px;
        font-size: 4vw;
    }
    .heading-container p{
        font-size: 2vw;
    }

}
.card-containerlist{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(410px, 1fr));
    gap: 48px;
}

@media (max-width: 1235px){
    .card-containerlist{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 2vw;
    }
}
@media (max-width: 1060px){
    .card-containerlist{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 2vw;
    }
}


/* 
client details */


.client{
    width: 100%;
    display: flex;
    gap: 40px;
    margin: 40px 0px;
}
.client-first{
    width: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    border-radius: 20px;
    position: relative;
    box-shadow: 0px 0px 50px 0px #0000001A;
}

.client-profile{
    display: flex;
    align-items: start;
    margin-top: -40px;
}

.client-name-container h5{
    padding-top: 20px;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    text-align: left;
}
.client-name-container p{
    font-size: 13px;
    font-weight: 500;
    line-height: 15.85px;
    text-align: left;
    
}
.client-description{
    text-align: center;
    color: gray;
    padding: 20px 20px;
    font-size: small;

}

.client-btn-left, .client-btn-right  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
    background: linear-gradient(180deg, #20CA62 0%, #13B351 100%);
    box-shadow: 0px 0px 25px 0px #83A5FF40;
    cursor: pointer;
    position: absolute;
}
.client-btn-left:hover,
.client-btn-right:hover {
  background-color: #28df6e; /* Darker background color on hover */
}

.client-btn-left:active,
.client-btn-right:active {
  background-color: #20d264; /* Even darker background color on active */
  transform: scale(0.98); /* Slightly scale down the button on click */
}
.client-second{
    padding: 50px;
    width: 50%
    
}
.client-second img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 600px) {
    .client-first,.client-second{
        width: 100%;
    }
    .client{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}