
.restaurant-heading{
    font-size: 24px;
    font-weight: 500;
    line-height: 29.26px;
    text-align: left;
    
}
.restaurant-heading span{
    color:#13B251;
    font-weight: 600;
    font-size: 24px;    

}
.heading-container{
    width: 50%;
}
.heading-container h2{
    font-size: 32px;
    font-weight: 600;
    line-height: 39.01px;
    text-align: left;
    
}
.heading-container p{
    padding-top: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #575757;
}
.card-containerlist{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(410px, 1fr));
    gap: 48px;
}


   

/* 
client details */


.client{
    width: 100%;
    display: flex;
    gap: 40px;
    margin: 40px 0px;
    justify-content: space-between;
    align-items: center;
}
.client-first{
    max-width: 750px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    border-radius: 20px;
    position: relative;
    box-shadow: 0px 0px 50px 0px #0000001A;
    height: 445px;
}

.client-profile{
    display: flex;
    align-items: start;
    margin-top: -10px;
}

.client-name-container h5{
    padding-top: 20px;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    text-align: left;
}
.client-name-container p{
    font-size: 13px;
    font-weight: 500;
    line-height: 15.85px;
    text-align: left;
    
}
.client-description{
    text-align: center;
    color: gray;
    padding: 20px 20px;
    font-size: small;

}

.client-btn-left, .client-btn-right  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
    background: linear-gradient(180deg, #20CA62 0%, #13B351 100%);
    box-shadow: 0px 0px 25px 0px #83A5FF40;
    cursor: pointer;
    position: absolute;
}
.client-btn-left:hover,
.client-btn-right:hover {
  background-color: #28df6e; /* Darker background color on hover */
}

.client-btn-left:active,
.client-btn-right:active {
  background-color: #20d264; /* Even darker background color on active */
  transform: scale(0.98); /* Slightly scale down the button on click */
}
.client-second{
    display:"flex";
    justify-content: space-between;
    align-items: center;
}
.food-img{
    width: 517px;
    height: 313px;
    border-radius: 20px;
    background-color: #13B251;
}
.food-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}



@media (max-width: 1300px){
    .card-containerlist{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        gap: 2vw;
    }
}
@media (max-width: 1080px){
    .heading-container{
        width: 80%;
    }
    .heading-container h2{
        margin-top: -10px;
        font-size: 2.5vw;
    }
    .heading-container p{
        font-size: 1.5vw;
    }
    .food-img{
    width: 100%;
    height: 313px;
    border-radius: 20px;
    background-color: #13B251;
    }
    .food-img img{
        border-radius: 20px;
    }

    }

    @media (max-width:800px) {
        .client-first,.client-second{
            width: 100%;
        }
        .client{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 40px;
        }
        .client-second{
            display:"flex";
            justify-content: end;
            align-items: center;
        }
    }


@media (max-width: 600px) {
    .card-containerlist{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        gap: 2vw;
    } 
     .heading-container{
        width: 90%;
    }
    .heading-container h2{
        margin-top: -10px;
        font-size: 1.1rem;
        margin-bottom: -5px;
    }
    .heading-container p{
        font-size: small;
    }

}