.container{
    width: 80%; 
    margin: auto;
    padding: 20px; 
}
.restaurantlist{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    box-shadow: 0 4px 8px rgba(108, 248, 162, 0.2); 
    
}
.onecard{
    width: 250px;
    border-radius: 20px;
    padding: 10px;
    height: 300px;
}