@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  /* Changed from 'Outfit' to 'Montserrat' */
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  width: 90%;
  margin: auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.btn_primary {
  background-color: #20CA62;
  border: none;
  padding: 18px 65px;
  font-family: Montserrat;
  font-size: 16.28px;
  font-weight: 700;
  color: #FFFFFF;
  border-radius: 7.23px;
}

.btn_primary:hover {
  background-color: #0da346;
}