@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  /* Changed from 'Outfit' to 'Montserrat' */
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  width: 90%;
  margin: auto;
}
.unstyled{
  all: unset !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.btn {
  border: none;
  padding: 18px 65px;
  font-family: Montserrat;
  font-size: 16.28px;
  font-weight: 700;
  border-radius: 7.23px;
}

.btn_primary {
  background-color: #20CA62 !important;
  color: #FFFFFF !important;
}

.btn_primary:hover {
  background-color: #0da346;
}
.btn_secondary{
  color: black !important;
  border-color: black !important;
}
.pointer {
  cursor: pointer;
}
.error_input{
  border: 1px solid red !important;
}
.form-select{
  height: 45px !important;
}