
.card-div{
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    box-shadow: 0px 0px 10px #00000015;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-div:hover{
    transform: scale(1.05);   
}

.card-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-details .first{
    font-size:large;
    font-weight: bold;
}
.card-details .second{
    margin-top: -60px;
    color: gray;
}

.add-btn{
    font-size: 2rem;
    background-color: white;
    opacity: 80%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 0px 10px;
    border-top-left-radius: 20px;
    cursor: pointer;
}
.card-details-img{

background-color: yellow;
}

