
.card-div{
    width: 450px;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    border:  2px solid ghostwhite;
    border-radius: 10px;

}
.card-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-details .first{
    font-size:large;
    font-weight: bold;
}
.card-details .second{
    margin-top: -60px;
    color: gray;
}

.add-btn{
    font-size: 2rem;
    background-color: white;
    opacity: 80%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 0px 10px;
    border-top-left-radius: 20px;
    cursor: pointer;
}